body, html{
    margin-left: 30px;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background: #5A4C47;
    color: #FBFAFA;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 60px;
}

.footer {
    background: #5A4C47;
    color: #FBFAFA;
    text-align: center;
    padding: 1em;
    height: 200px;
  }
  